In [3]:
import pandas as pd

# CSV 파일 경로
csv1_path = './result/eva02_mixupcutmix_roi.csv'
csv2_path = './result/eva02convnext2_kfold.csv'

# CSV 파일 읽기
df1 = pd.read_csv(csv1_path)
df2 = pd.read_csv(csv2_path)

# 3번째 열 비교 (index는 0부터 시작하므로 2로 접근)
col1 = df1.iloc[:, 2]
col2 = df2.iloc[:, 2]

# 3번째 열의 내용 출력
print("CSV1 - 3번째 열:")
print(col1)

print("\nCSV2 - 3번째 열:")
print(col2)

CSV1 - 3번째 열:
0        328
1        414
2        493
3         17
4        388
        ...
10009    235
10010    191
10011    466
10012    258
10013    210
Name: target, Length: 10014, dtype: int64

CSV2 - 3번째 열:
0        328
1        414
2        493
3         17
4        388
        ...
10009    235
10010    191
10011    466
10012    258
10013    210
Name: target, Length: 10014, dtype: int64

In [22]:
col1

0        328
1        414
2        493
3         17
4        388
        ...
10009    235
10010    191
10011    466
10012    400
10013    210
Name: target, Length: 10014, dtype: int64

In [4]:
(col1 == col2).sum()

9431

In [33]:
col2.eq(col1).all()

False

In [16]:
index_list = col2.index[col2.ne(col1)]

In [17]:
col1_filtered = col1.loc[index_list]
col2_flitered = col2.loc[index_list]

result_df = pd.concat([col1_filtered, col2_flitered], axis=1)

In [18]:
result_df

       target  target
15        348     399
22        389     473
31        407     300
37        351     272
45        443     239
...       ...     ...
9931      441     318
9952       17      85
9953      252     310
9975       50       8
10012     258     400

[1124 rows x 2 columns]

In [19]:
len(result_df)

1124